.heading {
    color: white;
    background-color: midnightblue;
    text-align: center;
}

#header {
    text-align: center;
}

button {
    font-size: 25px;
    padding: 10px 20px;
    margin: 50px 0 130px;
    margin-left: 80vw;
    background-color: rgb(90, 83, 83);
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: -5s;
}

button:hover {
    background-color: black;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

img {
    width: 10rem;
    margin: 3rem;
}